name: Generate Posts Manifest
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: List Notes
      run: |
        echo '[' > posts.json
        for file in notes/*.md; do
          title=$(head -n 5 "$file" | grep '^title:' | cut -d' ' -f2- | sed 's/"//g')
          date=$(head -n 5 "$file" | grep '^date:' | cut -d' ' -f2-)
          echo "{\"file\": \"$$ file\", \"title\": \" $${title:-$(basename $file .md)}\", \"date\": \"$date\"}," >> posts.json
        done
        echo ']' >> posts.json
    - uses: actions/upload-artifact@v2
      with: { path: posts.json }
    - name: Commit posts.json
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add posts.json
        git commit -m "Update posts manifest" || exit 0
        git push